NODE_ENV=development
DB_PATH=../backend/djs_database.sqlite
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
SCHEDULER_POLL_INTERVAL_MS=2000
STALE_WORKER_THRESHOLD_SEC=30
SCHEDULER_LEADER_LOCK_TTL_MS=10000
